/* Normal desktop :1700px. */
@media (min-width: 1700px) and (max-width: 1920px) {
.dit-testimonial-section .main-title h2 {
    font-size: 30px;
}
.dit-service-section .single-service-box .service-thumb::before {
    background: inherit;
}
.dit-service-section .single-service-box .service-title h2 {
    margin: 25px 0 15px 0;
}
.dit-service-section .single-service-box {
    padding: 40px 20px 33px;
}
.slider-area.style-four .slider-thumb {
    position: relative;
    z-index: 1;
    left: 55px;
    top: 105px;
}
.slider-area.style-four {
    height: 1020px;
}



}
/* Normal desktop :1500px. */
@media (min-width: 1500px) and (max-width: 1700px) {
.sticky-nav .search-box-btn.search-box-outer i {
    left: 15px;
}
.dit-testimonial-section .main-title h2 {
    font-size: 30px;
}
.dit-service-section .single-service-box .service-thumb::before {
    background: inherit;
}
.dit-service-section .single-service-box .service-title h2 {
    margin: 25px 0 15px 0;
}
.dit-service-section .single-service-box {
    padding: 40px 20px 33px;
}
.dit-upcoming-course {
    padding: 100px 70px 30px;
}
}
/* Normal desktop :1200px. */
@media (min-width: 1365px) and (max-width: 1499px) {
.dit-testimonial-section .main-title h2 {
    font-size: 30px;
}
.slider-title h1 {
    font-size: 50px;
}
.slider-area.style-three .slider-title h1 {
    font-size: 50px;
}
.dit-team-area.style-four .singles-teams {
    padding: 25px 20px 20px;
}
.dit-team-area.style-four .team-thumb img {
    width: 77%;
}
.dit-team-area.style-four .teams-content {
    padding: 20px 0 0 0;
}
.dit-service-section .single-service-box {
    padding: 50px 13px 25px;
}
.dit-service-section .single-service-box .service-thumb::before {
    top: -15px;
    content: "";
    height: 80px;
    width: 80px;
    line-height: 81px;
}
.dit-service-section .single-service-box .service-title h2 {
    margin: 25px 0 12px 0;
}




}
/* Normal desktop :1176px. */
@media (min-width: 1176px) and (max-width: 1299px) {
.dit-testimonial-section .main-title h2 {
    font-size: 30px;
}
.heder-menu ul li a {
    padding: 30px 14px 18px;
}
.heder-menu {
    right: -45px;
}
.slider-title h1 {
    font-size: 45px;
    line-height: 60px;
}
.feature-title h2 {
    font-size: 19px;
}
.feature-text p {
    font-size: 13px;
    line-height: 1.9;
}
.main-title h2 {
    font-size: 30px;
}
.section-text p {
    font-size: 15px;
    line-height: 1.7;
}
.course-button span {
    margin-left: 20px;
    font-size: 14px;
}
.course-button a {
    font-size: 13px;
    padding: 6px 15px;
}
.course-title a h3 {
    font-size: 15px;
    margin: 30px 0 24px;
}
.dit-testimonial-section .main-title h2 {
    font-size: 26px;
}
.dit-testimonial-section .testimonial-text p {
    line-height: 25px;
}
.faq-area .accordion p {
    font-size: 15px;
    width: 87%;
}
.dit-blog-section .blog-title h2 a {
    font-size: 20px;
}
.dit-blog-section .blog-discription p {
    font-size: 14px;
}
.slider-area.style-three .hape-imges {
    top: -50px;
}
.slider-area.style-three .hape-img {
    top: -10%;
}
.slider-area.style-three .slider-title h1 {
    font-size: 42px;
}
.upcoming-course-icon ul li {
    margin-right: 10px;
}
.dit-service-section .single-service-box .service-description p {
    font-size: 14px;
    line-height: 25px;
}
.service-thumb img {
    width: 15%;
}
.dit-service-section .single-service-box .service-thumb::before {
    top: -12px;
    height: 60px;
    width: 60px;
    line-height: 60px;
}
.dit-service-section .single-service-box .service-description p {
    font-size: 14px;
}
.slider-area.style-four .slider-title h1 {
    font-size: 60px;
    line-height: 70px;
}
.slider-icon-list ul li {
    margin-right: 20px;
    font-size: 15px;
}
.slider-area.style-four .hape-img {
    top: -50px;
}
.dit-service-section.style-two .single-service-box {
    padding: 35px 17px 25px;
}
.dit-service-section.style-two .single-service-box .service-title h2 {
    margin: 20px 0 10px 0;
}
.dit-team-area.style-four .singles-teams {
    padding: 20px 20px 20px;
}
.dit-team-area.style-four .team-thumb img {
    width: 77%;
}
.dit-testimonial-section.style-four .testimonial-text p {
    width: 75%;
}
.slider-area.style-four .slider-thumb {
    left: 23px;
    top: 22px;
}
.dit-feature-section {
    padding: 100px 0 100px;
}
.header-menu ul li a {
    margin: 25px 16px;

}







}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1175px) {
.heder-menu ul li {
    margin-right: 0;
}
.heder-menu ul li a {
    padding: 30px 15px 18px;
    font-size: 15px;
}
.header_tbn a {
    font-size: 15px;
}
.heder-menu {
    right: -50px;
}
.sticky-nav .heder-menu {
    left: 0%;
}
.slider-title h1 {
    font-size: 42px;
    line-height: 60px;
}
.slider-discription p {
    font-size: 15px;
}
.feature-content {
    padding: 30px 14px 30px;
}
.feature-title h2 {
    font-size: 18px;
}
.dit-about-area .about-thumb {
    left: -20px;
}
.main-title h2 {
    font-size: 30px;
}
.section-text p {
    font-size: 15px;
}
.course-content {
    padding: 30px 12px 10px;
}
.course-button a {
    font-size: 14px;
    padding: 6px 10px;
}
.course-button span {
    margin-left: 25px;
}
.course-title a h3 {
    font-size: 16px;
}
.course-name span {
    padding: 7px 15px;
}
.dit-testimonial-section .main-title h2 {
    font-size: 25px;
}
.dit-blog-section .blog-title h2 a {
    font-size: 20px;
}
.dit-blog-section .blog-discription p {
    font-size: 14px;
}
.footer-area .footer-text p {
    font-size: 14px;
}
.countdown-area li {
    margin-right: 0;
}
.slider-area.style-three .hape-imges {
    top: -15%;
}
.slider-area.style-three .hape-img {
    top: -10%;
    left: 26px;
}
.slider-area.style-three .slider-shapes {
    top: 0;
    left: 0;
    right: 0;
}
.slider-area.style-three .slider-title h1 {
    font-size: 42px;
    line-height: 60px;
}
.slider-thumb {
    left: 0;
}
.instructors-thumb img {
    width: 80%;
}
.dit-instructors-area .instructors-thumb {
    right: -15px;
}
.dit-instructors-area .main-title h2 {
    font-size: 25px;
}
.upcoming-thumb img {
    width: 90%;
}
.upcoming-thumb {
    margin-right: 0;
}
.upcoming-course-title h2 {
    font-size: 22px;
    line-height: 30px;
}
.upcoming-course-icon ul li i {
    margin-right: 3px;
}
.upcoming-course-icon ul li span {
    font-size: 12px;
}
.upcoming-course-icon ul li {
    margin-right: 3px;
}
.upcoming-course-discription p {
    font-size: 14px;
    line-height: 25px;
    margin: 14px 0 0px;
}
.dit-service-section .single-service-box .service-description p {
    font-size: 14px;
    line-height: 25px;
}
.service-thumb img {
    width: 15%;
}
.dit-service-section .single-service-box .service-thumb::before {
    top: -12px;
    height: 60px;
    width: 60px;
    line-height: 60px;
}
.dit-service-section .single-service-box .service-description p {
    font-size: 14px;
}
.dit-service-section .single-service-box .service-title h2 {
    margin: 25px 0 9px 0;
    font-size: 20px;
}
.dit-service-section .single-service-box {
    padding: 35px 15px 20px;
}
.slider-area.style-four .slider-title h1 {
    font-size: 60px;
    line-height: 70px;
}
.slider-area.style-four .hape-img {
    top: -55px;
    left: 0;
}
.slider-area.style-four .slider-shapes {
    right: 0;
}
.dit-about-section.style-four .about-thumb {
    left: 0;
}
.dit-about-section.style-four .slider-title h5 {
    left: 0;
}
.dit-about-section.style-four .slider-title h5::before {
    background: inherit;
}
.slider-area.style-four .slider-discription p {
    font-size: 15px;
}
.slider-icon-list ul li {
    margin-right: 20px;
    font-size: 15px;
}
.slider-area.style-four .slider-thumb {
    left: 22px;
    top: 22px;
}
.dit-service-section.style-two .single-service-box .service-title h2 {
    margin: 23px 0 12px 0;
}
.dit-service-section.style-two .single-service-box .service-description p {
    font-size: 13px;
}
.dit-team-area.style-four .team-thumb img {
    width: 75%;
}
.dit-team-area.style-four .singles-teams {
    padding: 23px 20px 23px;
}
.dit-testimonial-section.style-four .testimonial-text p {
    font-size: 18px;
}
.dit-events-section .events-description p {
    font-size: 15px;
    width: 66%;
}
.header-menu ul li a {
    font-size: 15px;
    margin: 25px 12px;
}
.header-menu ul li.icon::before {
    right: 0;
}
.dit-feature-section {
    padding: 100px 0 100px;
}
.dit-about-section.style-four .about-thumb img {
    width: 100%;
}

}
/* small mobile :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.slider-title h1 {
    font-size: 34px;
    line-height: 50px;
}
.slider-title h5::before {
    width: 20%;
}
.feature-title h2 {
    font-size: 19px;
}
.feature-text p {
    font-size: 13px;
    line-height: 23px;
}
.dit-about-area .about-thumb {
    left: -22px;
}
.main-title h2 {
    font-size: 22px;
}
.section-text p {
    font-size: 14px;
}
.faq-thumb {
    margin-top: 50px;
}
.footer-area .footer-icon ul li {
    margin-right: 3px;
}
.footer-area .footer-icon ul {
    margin-bottom: 35px;
}
.footer-area {
    background-position: inherit;
}
.dit-video-section .drs-video {
    left: -35px;
    top: 158px;
}
.footer-title.upper h5 {
    margin: 30px 0;
}
.slider-area.style-one .slider-title h1 {
    font-size: 31px;
    line-height: 50px;
}
.countdown-area .countdown-area li {
    margin-bottom: 30px;
}
.choose-thumb {
    left: -30px;
}
.slider-thumb {
    left: 0;
}
.slider-area.style-three .slider-shape {
    left: 0;
    right: 0;
}
.slider-area.style-three .slider-title h1 {
    font-size: 31px;
    line-height: 50px;
}
.slider-area.style-three .hape-img {
    top: -15%;
}
.slider-area.style-three .hape-imges {
    top: -17%;
    right: 50px;
}
.slider-area.style-three .slider-button a {
    padding: 8px 15px;
    font-size: 14px;
}
.slider-area.style-three .slider-btn a {
    padding: 8px 15px;
    font-size: 14px;
}
.dit-instructors-area .single-instructors {
    margin-bottom: 50px;
}
.upcoming-thumb {
    float: inherit;
}
.upcoming-thumb img {
    width: 100%;
}
.single-certificates {
    margin-bottom: 30px;
}
.certificates-icon-img {
    top: 42%;
}
.slider-area.style-four .slider-title h1 {
    font-size: 45px;
    line-height: 50px;
}
.slider-area.style-four .slider-shapes {
    right: 0;
}
.dit-about-section.style-four .slider-title h5 {
    left: 0;
}
.dit-about-section.style-four .slider-title h5::before {
    background: inherit;
}
.dit-about-section.style-four .about-icon-list ul li span {
    font-size: 16px;
}
.dit-about-section.style-four .about-icon-list ul li {
    margin: 0 0 8px;
}
.dit-about-section.style-four .about-thumb {
    position: relative;
    left: 0;
}
.dit-about-section.style-four .section-title {
    margin-bottom: 25px;
}
.slider-icon-list ul li {
    margin-right: 12px;
    font-size: 16px;
}
.slider-area.style-four .slider-thumb {
    left: 18px;
    top: 35px;
}
.slider-area.style-four .hape-img-two {
    right: -35px;
}
.slider-area.style-four .slider-btn a {
    padding: 11px 25px;
}
.slider-area.style-four .slider-title h5 {
    left: 0;
    font-size: 15px;
}
.slider-area.style-four .slider-title h5::before {
    background: inherit;
}
.dit-service-section .single-service-box .service-description p {
    font-size: 15px;
}
.dit-team-area.style-four .team-thumb img {
    width: 85%;
}
.dit-testimonial-section.style-four .testimonial-text p {
    font-size: 16px;
    width: 74%;
}
.slider-area.style-four .slider-shape {
    top: 24%;
    left: 74%;
}
.blog-area.upper .blog-single-box .blogs-content {
    padding: 38px 20px 45px;
}
.blog-area.upper .blog-single-box .blogs-content .blog-title p {
    font-size: 14px;
}
.blog-area.upper .blog-single-box .blog-title h2 {
    font-size: 20px;
}
.paginationss-title ul li a i {
    height: 33px;
    line-height: 33px;
    width: 33px;
}
.paginationss-title ul li {
    margin-right: 5px;
}
.breadcumb-title h1 {
    font-size: 50px;
}
.dit-feature-section {
    padding: 100px 0 100px;
}



}
/* small mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.dit-about-area .about-thumb {
    left: 0;
}
.slider-title h1 {
    font-size: 50px;
}
.about-thumb {
    margin-bottom: 50px;
}
.main-title h2 {
    font-size: 34px;
}
.join-button {
    margin-bottom: 50px;
}
.single-testimonial {
    margin-bottom: 50px;
}
.faq-area .accordion p {
    font-size: 15px;
}
.faq-thumb {
    margin-top: 50px;
}
.footer-area {
    background-position: inherit;
}
.footer-area .footer-icon ul {
    margin-bottom: 35px;
}
.footer-area .footer-title h5 {
    margin: 22px 0 23px;
}
.footer-area .footers-titles h5 {
    margin: 25px 0 20px;
}
.slider-title h5 {
    left: 40px;
}
.slider-area.style-one .slider-title h1 {
    font-size: 45px;
}
.slider-area.style-one .slider-title.upper h5 {
    left: 0;
}
.slider-area.style-one .slider-title.upper h5::before {
    background: inherit;
}
.dit-about-area.style-two .single-counter-box {
    text-align: center;
}
.dit-about-area .about-button {
    text-align: center;
}
.countdown-area li {
    margin-right: 0;
}
.countdown-area .countdown-button {
    margin-bottom: 50px;
    text-align: center;
}
.choose-thumb {
    left: 0;
    bottom: 50px;
}
.slider-thumb {
    left: 0;
    top: 30px;
}
.slider-area.style-three .slider-title h1 {
    font-size: 40px;
    line-height: 60px;
}
.slider-title h5::before {
    background: inherit;
}
.slider-area.style-three .slider-title h5 {
    left: 0;
}
.dit-instructors-area .single-instructors {
    margin-bottom:40px;
}
.single-upcoming-course {
    margin-bottom: 30px;
}
.single-certificates {
    margin-bottom: 30px;
}
.slider-area.style-four .slider-shapes {
    display: none;
}
.slider-area.style-four .slider-title h1 {
    font-size: 50px;
    line-height: 55px;
}
.slider-area.style-four {
    padding: 90px 0 120px;
}
.slider-area.style-four .slider-title h5 {
    left: 0;
}
.slider-area.style-four .slider-thumb {
    display: none;
}
.slider-area.style-four .slider-shape {
    display: none;
}
.slider-area.style-four .hape-img-two {
    display: none;
}
.slider-area.style-four .hape-img-four {
    top: 0;
    right: 50px;
}
.dit-service-section .single-service-box {
    padding: 65px 55px 33px;
}
.dit-about-section.style-four .about-thumb {
    left: 0;
}
.dit-service-section.style-two .single-service-box {
    padding: 35px 50px 25px;
}
.countdown-area.style-two .main-title h2 {
    font-size: 32px;
}
.dit-team-area.style-four .team-thumb img {
    width: 60%;
}
.dit-testimonial-section.style-four .testimonial-text p {
    font-size: 15px;
    line-height: 25px;
    width: 75%;
}
.slider-area.style-four .hape-img {
    top: -40px;
    left: 0;
}
.dit-events-section .events-number {
    margin-right: 20px;
}
.dit-events-section .events-number::before {
    background: inherit;
}
.dit-events-section .events-description p {
    font-size: 14px;
    width: 76%;
    line-height: 23px;
}
.breadcumb-title h1 {
    font-size: 40px;
}
.blog-area.upper .blog-single-box .blogs-content {
    padding: 38px 20px 45px;
}
.blog-area.upper .blog-single-box .blogs-content .blog-title p {
    font-size: 16px;
}
.blog-area.upper .form-button {
    margin-bottom: 50px;
}
.dit-feature-section {
    padding: 100px 0 100px;
}
.resent-post-single-box {
    margin-bottom: 40px;
}









}

/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 599px) {
.dit-about-area .about-thumb {
    left: 0;
    bottom: 40px;
}
.slider-title h5 {
    left: 5px;
}
.slider-title h5::before {
    background: inherit;
}
.slider-title h1 {
    font-size: 30px;
    line-height: 50px;
}
.slider-shape {
    display: none;
}
.dit-blog-section .sub-title h5::after {
    background: inherit;
        right: 0;
}
.feature-title h2 {
    font-size: 17px;
}
.main-title h2 {
    font-size: 25px;
}
.feature-text p {
    font-size: 13px;
    line-height: 23px;
}
.feature-content {
    padding: 30px 15px 30px;
}
.section-text p {
    font-size: 12px;
}
.join-thumb {
    margin-top: 30px;
}
.dit-testimonial-section .single-testimonial {
    margin-bottom: 40px;
}
.faq-area .accordion a {
    font-size: 12px;
}
.faq-area .accordion a::before {
    top: 0px;
    right: 18px;
}
.faq-thumb {
    margin-top: 50px;
}
.faq-area .accordion p {
    font-size: 12px;
    width: 100%;
    line-height: 23px;
}
.dit-blog-section .blog-discription p {
    font-size: 14px;
}
.dit-video-section .drs-video {
    left: 100px;
    top: 105px;
}
.footer-area .footer-icon ul {
    margin-bottom: 35px;
}
.footer-area .footer-title h5 {
    margin-bottom: 20px;
}
.footer-area .footers-titles h5 {
    margin-bottom: 20px;
    margin-top: 26px;
}
.footer-area .footer-title h5 {
    margin-top: 33px;
}
.slider-area.style-one .slider-title h1 {
    font-size: 27px;
    line-height: 40px;
}
.slider-area.style-one .slider-title h5 {
    font-size: 14px;
}
.slider-area.style-one .slider-title.upper h5 {
    left: 0;
}
.slider-area.style-one .slider-title.upper h5::before {
    background: inherit;
}
.dit-about-area.style-two .single-counter-box {
    text-align: center;
}
.dit-about-area .about-button {
    text-align: center;
}
.sub-titles h4 {
    margin: 0 50px 18px 48px;
    font-size: 13px;
}
.countdown-area .main-title h2 {
    font-size: 18px;
}
div#countdown ul {
    text-align: center;
}
.countdown-area li {
    margin-bottom: 30px;
}
.countdown-area .countdown-button {
    margin-bottom: 50px;
}
.choose-thumb {
    left: 0;
    bottom: 50px;
}
.choose-icon-list ul li span {
    font-size: 15px;
}
.slider-title h5::before {
    background: inherit;
}
.slider-area.style-three .slider-title h5 {
    left: 0;
}
.dit-instructors-area .single-instructors {
    margin-bottom:40px;
}
.single-upcoming-course {
    margin-bottom: 30px;
}
.single-certificates {
    margin-bottom: 30px;
}
.slider-thumb {
    left: 0;
}
.dit-course-section.style-three .sub-title h5::after {
    background: inherit;
}
.dit-course-section.style-three .sub-title h5::before {
    background: inherit;
}
.dit-course-section.style-three .section-title {
    display: none;
}
.slider-area.style-three .slider-title h1 {
    font-size: 26px;
    line-height: 40px;
}
.slider-area.style-three .slider-btn a {
    margin-bottom: 50px;
}
.slider-area.style-three .hape-img-two {
    right: 0;
    left: 36px;
}
.dit-instructors-area .sub-title h5 {
    font-size: 11px;
}
.dit-instructors-area .single-instructors {
    background: inherit;
}
.instructors-thumb img {
    display: none;
}
.dit-instructors-area .main-title h2 {
    font-size: 24px;
}
.dit-instructors-area {
    padding: 0 0px 0 0px;
}
.upcoming-course-content {
    overflow: inherit;
}
.upcoming-thumb {
    margin-bottom: 30px;
    float: inherit;
}
.upcoming-thumb img{
    width: 100%;
}
.upcoming-course-icon ul li {
    margin-right: 8px;
}
.upcoming-course-discription p {
    font-size: 13px;
    line-height: 23px;
}
.slider-area.style-three .hape-img {
    top: -15%;
    left: 25px;
}
.slider-area.style-three .hape-imges {
    top: -15%;
    right: 100px;
}
.slider-area.style-four .slider-shapes {
    display: none;
}
.dit-about-section.style-four .about-thumb {
    left: 0;
}
.slider-area.style-four .slider-thumb {
    display: none;
}
.slider-area.style-four .slider-title h1 {
    font-size: 40px;
    line-height: 45px;
}
.slider-area.style-four {
    padding: 90px 0 80px;
}
.slider-area.style-four .hape-img-two {
    display: none;
}
.slider-area.style-four .hape-img {
    display: none;
}
.slider-area.style-four .slider-shape {
    display: none;
}
.dit-team-area.style-four .team-thumb img {
    width: 60%;
}
.dit-team-area.style-four .sub-title h5::after {
    background: inherit;
    right: 0;
}
.dit-team-area.style-four .sub-title h5::before {
    background: inherit;
}
.dit-testimonial-section.style-four .testimonial-text p {
    font-size: 13px;
    line-height: 23px;
    width: 80%;

}
.dit-service-section .sub-title h5::after {
    right: 0;
    background: inherit;
}
.dit-about-section.style-four .about-thumb img {
    margin-bottom: 50px;
}
.countdown-area.style-two .single-countdown .sub-title h5::after {
    right: 0;
    background: inherit;
}
.dit-gallery-section .sub-title h5::after {
    right: 0;
    background: inherit;
}
.dit-about-section.style-four .about-icon-list ul li span {
    font-size: 14px;
}
.dit-about-section.style-four .about-icon-list ul li {
    margin: 0 0 10px;
}
.dit-service-section .single-service-box .service-description p {
    line-height: 23px;
    font-size: 12px;
    transition: 0.5s;
}
.dit-service-section.style-two .single-service-box .service-title h2 {
    margin: 25px 0 12px 0;
}
.countdown-area.style-two {
    padding: 85px 0 0;
}
.dit-events-section .events-top ul li.bef::before {
    top: 7px;
    left: -14px;
}
.dit-events-section .events-top ul li.bef::after {
    top: 7px;
    right: -15px;
}
.dit-events-section .events-number::before {
    background: inherit;
}
.dit-events-section .events-number {
    margin-right: 12px;
    top: 0;
}
.dit-events-section .events-title h4 {
    font-size: 17px;
}
.dit-events-section .events-description p {
    font-size: 13px;
    line-height: 23px;
    width: 100%;
}
.dit-events-section .events-number h2 {
    font-size: 60px;
}
.dit-events-section .events-top ul li {
    margin: 0px 12px;
}
.breadcumb-title h1 {
    font-size: 29px;
}
.blog-area.upper .blog-single-box .blogs-content {
    padding: 38px 15px 45px;
}
.blog-area.upper .blog-single-box .blogs-content .blog-title h2 {
    font-size: 17px;
}
.blog-area.upper .blog-single-box .blogs-content .blog-title p {
    font-size: 12px;
    line-height: 24px;
}
.paginationss-title ul li {
    margin-right: 0;
}
.paginationss-title ul li a i {
    height: 30px;
    line-height: 31px;
    width: 30px;
}
.blog-area.upper .form-button {
    margin-bottom: 50px;
}
.dit-feature-section.style-two .sub-title h5::after {
    left: 0px;
    right: 0;
    background: inherit;
}
.dit-upcoming-course {
    padding: 100px 0 0;
}



}
/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 991px) {
.header-top {
    display: none;
}

.top-header {
    display: none;
}

.header-menu {
    display: none;
}

.header-logo {
    display: none;
}
.dit-upcoming-course {
    padding: 100px 0 0;
}
.dit-about-section.style-four .about-thumb img {
    width: 100%;
}
.dit-feature-section {
    padding: 100px 0 100px;
}
}
/* small mobile :320px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {

.resent-post-single-box {
    margin-bottom: 40px;
}

}

